/* Footer
=====================================*/

footer {
	position: absolute;
	width: 100%;
	height: 120px;
	bottom: 0;
	background: $blue;
	color: white;
	margin-top: 2em;
	padding: 1em 1.3em;
}

footer ul {
	padding: 0;
	list-style: none;
}

footer ul li:first-child {
	margin-left: 0;
}

footer ul li:last-child {
	margin-right: 0;
}

footer ul li {
	float: left;
	margin: 0 1em;
}