footer {
	width: 100%;
	background: $blue;
	color: white;
	padding: 1em 1.3em;
}

footer ul {
	padding: 0;
	list-style: none;
}

footer ul li:first-child {
	margin-left: 0;
}

footer ul li:last-child {
	margin-right: 0;
}

footer ul li {
	float: left;
	margin: 0 1em;
}