.modaal-content-container {
  padding: 2em 0;
}

/* Login and register
=====================================*/

h1 {
  font-family: 'Branding', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 3em;
  text-align: center;
  line-height: 0.9em;
  margin-top: 10px;
  color: $blue;
}

form {
  button {
    display: block;
    width: 100%;
    font-family: 'Branding', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    border: none;
    background: white;
    padding: 5px 10px;
    margin: 0;
  }
}

#login_form, #register_form {

  input {
    display: block;
    width: 100%;
    font-family: 'Branding', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    border: none;
    background: white;
    padding: 5px 10px;
    margin: 0;
  }

  .input-rule {

    display: block;
    width: 100%;
    border-top: solid #454E69 0.25em;

    &::before {
      display: block;
      max-height: 0;
      overflow-y: hidden;
      width: 100%;
      background-color: $red;
      color: white;
      padding: 0;
      text-align: center;
      transition: all 1s;
    }

  }

  .input-error {
    &::before {
      max-height: 50px !important;
      padding: 5px !important;
    }
  }

  .remember-user {
    display: block;
    font-family: 'Branding', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    color: $blue;
    margin-top: 1em;
    margin-bottom: 0;
  }

  input#remember-user {
    display: inline;
    width: initial;
    min-width: initial;
  }

  button {
    font-family: 'Branding', sans-serif;
    font-weight: 'semibold';
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: $blue;
    width: initial;
    border: none;
    padding: 10px 15px;
    margin: 10px auto;
    border-radius: 4px;
    cursor: pointer;
  }

}

#login_form {

  #login_bad_email {
    &::before {
      content: "Incorrect email";
    }
  }

  #login_bad_password {
    &::before {
      content: "Incorrect password";
    }
  }

  .login_remember_user {

    &::selection {
      background: none;
    }

    span {
      &::selection {
        background: none;
      }
    }

  }

  #login_reset_link {
    color: $blue;
    font-family: 'Branding', sans-serif;
    font-style: italic;
    text-align: center;
  }

}

#register_form {

  #register_bad_email {
    &::before {
      content: "Invalid format or email already used";
    }
  }

  #register_bad_name {
    &::before {
      content: "Must be between 3 and 20 characters.";
    }
  }

  #register_bad_password {
    &::before {
      content: "Must contain 1 lowercase letter, 1 uppercase letter, a number and be at least 8 characters.";
    }
  }

  #register_bad_password_cnfrm {
    &::before {
      content: "Passwords don\'t match.";
    }
  }

}
