/* Record Activity 
=====================================*/

// Fullscreen <HTML> element
:-webkit-full-screen {
  background-color: black;
}
:-moz-full-screen {
  background-color: black;
}
:-ms-fullscreen {
  background-color: black;
}
:full-screen {
  background-color: black;
}
:fullscreen {
  background-color: black;
}

// Backdrop behind the element
::backdrop, ::-ms-backdrop {
  background-color: black;
}

:-webkit-full-screen #site-wrapper {
  background-color: black;
}
:-moz-full-screen #site-wrapper {
  background-color: black;
}
:-ms-fullscreen #site-wrapper {
  background-color: black;
}
:full-screen #site-wrapper {
  background-color: black;
}
:fullscreen #site-wrapper {
  background-color: black;
}

.recording #timer {
	
	color: white;
	text-align: center;
	
	#record_clear, #record_submit {
		display: none;
	}

}

#timer {

	#record_btn {

		width: 35px;
		height: 35px;
		font-size: 0;
		background-color: white;
		border-width: 3px;
		border-style: solid;
		border-color: black;
		border-radius: 35px;
		margin: 18px;
		outline: none;

		&.active {
			background: red;
			animation-name: pulse;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		@keyframes pulse{
			0%{
				box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
			}
			65%{
				box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
			}
			90%{
				box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
			}
		}

	}

}

#record_map > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-overlay-pane > svg > g > path {
	stroke: $red;
  stroke-linecap: round;
  stroke-dasharray: 10px;
  stroke-opacity: 1;
  stroke-width: 4px;
}